# ANNUAL ESG & ETHICAL CONDUCT ATTESTATION ({{ cycle_year }})
**Issued To:** {{ supplier.name }} ({{ supplier.code }})  
**Tier Level:** {{ supplier.tier }}  
**Jurisdiction/Region:** {{ supplier.region }} ({{ supplier.country }})  
**Primary Contact:** {{ supplier.primary_contact_email }}  
**Date of Issuance:** {{ issuance_date }}  

---

{{ base_coc }}

---

{{ tier_content }}

---

{{ regional_content }}
